@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

:root {
  --main-font: 'Pretendard-Regular';

  /* -----------------------------------------------------------
  콘셉트 concept
-------------------------------------------------------------- */

  --primary-100: #FDE5EA;
  --primary-200: #F58094;
  --primary-300: #EA0029;
  --primary-400: #C00000;
  --primary-500: #960000;

  

  --secondary-100: #CED4DA;
  --secondary-200: #C7C8CA;
  --secondary-300: #939598;
  --secondary-400: #6D6E71;
  --secondary-500: #05141F;

  /* -----------------------------------------------------------
  비주얼 visual
-------------------------------------------------------------- */

  --red-100: #FAE1E3;
  --red-200: #DC3545;
  --red-300: #842029;

  --orange-100: #FFE2CB;
  --orange-200: #F1861F;
  --orange-300: #87451B;

  --yellow-100: #FFF8DD;
  --yellow-200: #FECF2A;
  --yellow-300: #C59B09;

  --green-100: #D2F4EA;
  --green-200: #20C997;
  --green-300: #13795B;

  --blue-100: #CFF4FC;
  --blue-200: #0DCAF0;
  --blue-300: #087990;

  --purple-100: #E2D9F3;
  --purple-200: #6F42C1;
  --purple-300: #432874;

  /* -----------------------------------------------------------
  상태 status
-------------------------------------------------------------- */

  --success-100: #F3F9EC;
  --success-200: #DCEDC8;
  --success-300: #8BC34A;
  --success-400: #6F9C3B;
  --success-500: #53752C;

  --error-100: #FDECEA;
  --error-200: #FBC6C2;
  --error-300: #F44336;
  --error-400: #C3352B;
  --error-500: #922820;

  /* -----------------------------------------------------------
  회색조 grayscale netural
-------------------------------------------------------------- */


  //디자인 이름 재 생성 (240412)

  --white: #fff;
  --gray-100: #FAFAFA;
  --gray-200: #F5F5F5;
  --gray-300: #E5E5E5;
  --gray-400: #CCCCCC;
  --gray-500: #B2B2B2;
  --gray-600: #949494;
  --gray-700: #757575;
  --gray-800: #474747;
  --gray-900: #212121;
  --black: #171717;




  /* -----------------------------------------------------------
  텍스트 text
-------------------------------------------------------------- */
  --text-title: #212529;
  --text-body-1: #495057;
  --text-body-2: #343A40;
  --text-body-3: #555c62;
  --text-label: #6C757D;
  --text-detail: #ADB5BD;
  --text-placeholder: #CED4DA;

  /* -----------------------------------------------------------
  배경 background
-------------------------------------------------------------- */

  --bg-1: #F8F9FA;
  --bg-2: #E9ECEF;


  /* -----------------------------------------------------------
  외곽선 border outline stroke
-------------------------------------------------------------- */

  --line-1: #EAEAEA;
  --line-2: #E0E0E0;
  --line-3: #C2C2C2;


 /* -----------------------------------------------------------
  design system 함수 설정
-------------------------------------------------------------- */

  --radius-sm: 0.5rem;

  --space-half: 4px;
  --space-0-75: 6px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;


  --frame: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
  --Button-Active: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);

  --small-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
  --regular-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  --large-shadow: 0px 0.5rem 35px rgba(0, 0, 0, 0.16);
}


* {
  font-family: var(--main-font);
  word-break: keep-all;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
}

a {
  color: var(--gray-700);
  text-decoration: unset;
  transition: 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
  &:active {
    filter: brightness(0.5);
  }
}

h1,
h2,
h3,
p {
  font-family: "Pretendard";
  margin-bottom: unset !important;
}

h1 {
  font-weight: 800;
  color: var(--gray-800);
}
