@charset "UTF-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
}
:root {
  --main-font: "Pretendard-Regular";
  /* -----------------------------------------------------------
    콘셉트 concept
  -------------------------------------------------------------- */
  --primary-100: #FDE5EA;
  --primary-200: #F58094;
  --primary-300: #EA0029;
  --primary-400: #C00000;
  --primary-500: #960000;
  --secondary-100: #CED4DA;
  --secondary-200: #C7C8CA;
  --secondary-300: #939598;
  --secondary-400: #6D6E71;
  --secondary-500: #05141F;
  /* -----------------------------------------------------------
    비주얼 visual
  -------------------------------------------------------------- */
  --red-100: #FAE1E3;
  --red-200: #DC3545;
  --red-300: #842029;
  --orange-100: #FFE2CB;
  --orange-200: #F1861F;
  --orange-300: #87451B;
  --yellow-100: #FFF8DD;
  --yellow-200: #FECF2A;
  --yellow-300: #C59B09;
  --green-100: #D2F4EA;
  --green-200: #20C997;
  --green-300: #13795B;
  --blue-100: #CFF4FC;
  --blue-200: #0DCAF0;
  --blue-300: #087990;
  --purple-100: #E2D9F3;
  --purple-200: #6F42C1;
  --purple-300: #432874;
  /* -----------------------------------------------------------
    상태 status
  -------------------------------------------------------------- */
  --success-100: #F3F9EC;
  --success-200: #DCEDC8;
  --success-300: #8BC34A;
  --success-400: #6F9C3B;
  --success-500: #53752C;
  --error-100: #FDECEA;
  --error-200: #FBC6C2;
  --error-300: #F44336;
  --error-400: #C3352B;
  --error-500: #922820;
  /* -----------------------------------------------------------
    회색조 grayscale netural
  -------------------------------------------------------------- */
  --white: #fff;
  --gray-100: #FAFAFA;
  --gray-200: #F5F5F5;
  --gray-300: #E5E5E5;
  --gray-400: #CCCCCC;
  --gray-500: #B2B2B2;
  --gray-600: #949494;
  --gray-700: #757575;
  --gray-800: #474747;
  --gray-900: #212121;
  --black: #171717;
  /* -----------------------------------------------------------
    텍스트 text
  -------------------------------------------------------------- */
  --text-title: #212529;
  --text-body-1: #495057;
  --text-body-2: #343A40;
  --text-body-3: #555c62;
  --text-label: #6C757D;
  --text-detail: #ADB5BD;
  --text-placeholder: #CED4DA;
  /* -----------------------------------------------------------
    배경 background
  -------------------------------------------------------------- */
  --bg-1: #F8F9FA;
  --bg-2: #E9ECEF;
  /* -----------------------------------------------------------
    외곽선 border outline stroke
  -------------------------------------------------------------- */
  --line-1: #EAEAEA;
  --line-2: #E0E0E0;
  --line-3: #C2C2C2;
  /* -----------------------------------------------------------
    design system 함수 설정
  -------------------------------------------------------------- */
  --radius-sm: 0.5rem;
  --space-half: 4px;
  --space-0-75: 6px;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 1.5rem;
  --frame: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
  --Button-Active: 0px 10px 30px 0px rgba(0, 0, 0, 0.10);
  --small-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.04);
  --regular-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  --large-shadow: 0px 0.5rem 35px rgba(0, 0, 0, 0.16);
}

* {
  font-family: var(--main-font);
  word-break: keep-all;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: var(--main-font);
}

a {
  color: var(--gray-700);
  text-decoration: unset;
  transition: 0.2s;
}
a:hover {
  filter: brightness(0.8);
}
a:active {
  filter: brightness(0.5);
}

h1,
h2,
h3,
p {
  font-family: "Pretendard";
  margin-bottom: unset !important;
}

h1 {
  font-weight: 800;
  color: var(--gray-800);
}

body {
  margin: 0 auto;
}
body .parents header {
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  top: -80px;
  left: 0;
  height: 80px;
  background-color: #fff;
  width: 100%;
  z-index: 999;
  transition: 0.2s;
}
body .parents header.show {
  top: 0;
}
body .parents header .header--wrap {
  width: 100%;
  max-width: 1200px;
  height: 86px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .parents header .header--link {
  display: flex;
  gap: 48px;
  margin-bottom: unset;
}
body .parents header .header--link a {
  color: var(--secondary-400);
  text-decoration: unset;
}
body .parents main {
  margin-top: 86px;
}
body .parents main .wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
body .parents main .wrap .list {
  width: 100%;
  max-width: 1200px;
  padding: 80px 0;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
body .parents main .wrap .section--title {
  text-align: center;
  font-weight: bold;
  color: var(--primary-300);
  padding-bottom: 64px;
}
body .parents main .autumn {
  background: var(--black);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #05141F 10%, #05141F 80%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  padding: 180px 0;
  z-index: -2;
}
body .parents main .autumn .d_title {
  color: var(--white);
}
body .parents main .autumn .inner .group--wrap .d_body {
  color: var(--secondary-100);
}

.hero {
  display: flex;
  width: 100%;
  background: var(--black);
  padding-top: 64px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero .text {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .background {
  display: inline-flex;
  padding: 64px 64px;
  flex-direction: column;
  background: var(--black);
  min-height: 100vh;
  align-items: center;
}
.hero .background h2 {
  color: #FFF;
  font-size: 180px;
  font-style: normal;
  font-weight: 900;
  line-height: 86%; /* 154.8px */
  letter-spacing: -9px;
  text-transform: uppercase;
}
.hero .background h2:not(:first-of-type) {
  -webkit-text-stroke-color: #FFF;
  color: transparent;
}
.hero .background h2:nth-of-type(2) {
  -webkit-text-stroke-width: 4px;
}
.hero .background h2:nth-of-type(3) {
  -webkit-text-stroke-width: 3px;
}
.hero .background h2:nth-of-type(4) {
  -webkit-text-stroke-width: 2px;
}
.hero .background h2:nth-of-type(5) {
  -webkit-text-stroke-width: 1px;
}
.hero .page-title {
  font-size: 3.5rem;
  color: white;
  font-weight: bold;
}
.hero .page-desc {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  color: var(--gray-600);
  color: #eee;
}
.hero .background {
  width: 100%;
}
.hero .bg1 {
  position: absolute;
  z-index: -3;
  top: 0;
  width: 100%;
  height: 806px;
  flex-shrink: 0;
  fill: var(--gray-800, #474747);
}
.hero .blur {
  position: absolute;
  width: 100%;
  flex-shrink: 0;
}
.hero .blur .glow {
  position: absolute;
  width: 100%;
  flex-shrink: 0;
}
.hero .blur .glow .rec1 {
  position: absolute;
  fill: var(--red-200, #DC3545);
  filter: blur(92.5px);
  width: 1224.403px;
  height: 605.783px;
  flex-shrink: 0;
  left: 50%;
  top: 50%;
}
.hero .blur .glow .rec2 {
  position: absolute;
  fill: var(--gray-700, #757575);
  filter: blur(67.5px);
  width: 970.125px;
  height: 599.623px;
  flex-shrink: 0;
  right: 0;
  left: 0;
}
.hero .blur .glow .rec3 {
  position: absolute;
  width: 1470.389px;
  height: 490.787px;
  flex-shrink: 0;
  fill: var(--gray-800, #474747);
  filter: blur(123px);
}

.group--main .d_title {
  color: var(--text-title);
  font-size: 1rem;
  font-weight: 800;
  max-width: 100%;
  padding-bottom: 12px;
}
.group--main .box-media {
  display: flex;
  flex-direction: row;
}
.group--main .d_date {
  color: var(--primary-300);
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 8px;
}
.group--main .title {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
.group--main .d_news {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-detail);
  text-decoration: unset;
  font-size: 14px;
  font-weight: 300;
}
.group--main .d_news::after {
  content: url("icon-right.svg");
  display: inline-block;
  height: 16px;
}

.inner {
  display: flex;
  gap: 1rem;
  transition: 0.2s;
}
.inner .group--main {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inner .group--media {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.inner .group--now {
  position: relative;
}
.inner .group--now::after {
  content: "";
  height: 100%;
  width: 2px;
  position: absolute;
  left: calc(50% - 1px);
  display: inline-block;
  top: 1rem;
  z-index: 1;
  background-color: var(--gray-300);
}
.inner .group--now .memopill {
  position: absolute;
  left: 4px;
  width: max-content;
  top: 0;
  z-index: 11;
  border-radius: 0 8px 8px 0px;
}
.inner .group--now .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-700);
  background-color: var(--white);
  font-size: 0;
  position: relative;
  z-index: 2;
  top: 38px;
}
.inner .group--wrap {
  display: flex;
  gap: 64px;
  flex: 1;
  padding: 32px 0 64px;
}
.inner .group--wrap .d_body {
  color: var(--text-body-3);
  line-height: 1.5;
  font-weight: 300;
  font-size: 0.9rem;
  max-width: 100%;
}
.inner .group .box--img {
  width: 400px;
  max-height: 400px;
  overflow: hidden;
}
.inner .group .box--img .d_image {
  width: 100%;
}
.inner .group--sub {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 12px 0;
  flex: 1 1;
}
.inner .group--sub .link label {
  width: 100px;
  display: inline-block;
  color: var(--text-body-1);
}
.inner .group--sub .link a {
  color: var(--text-detail);
}
.inner .group--sub .link.diary {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.inner .group--sub .accordion .accordion-item {
  border: unset;
  background-color: transparent;
}
.inner .group--sub .accordion .accordion-item:first-of-type {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.inner .group--sub .accordion .accordion-item:last-of-type {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.inner .group--sub .accordion .accordion-button {
  padding: 1rem 0;
}
.inner .group--sub .accordion .accordion-button:first-of-type {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.inner .group--sub .accordion .accordion-button:not(.collapsed) {
  background-color: unset;
  color: var(--text-detail);
}
.inner .group--sub .accordion .accordion-button:not(.collapsed)::after {
  filter: sepia(1);
}
.inner .group--sub .accordion .accordion-body {
  padding: 1rem 0;
}
.inner .group--sub .accordion .accordion-body ul {
  padding-left: unset;
}
.inner iframe {
  min-width: 100% !important;
}
.inner iframe .Caption,
.inner iframe .HoverCard,
.inner iframe .Footer {
  display: none !important;
}

iframe {
  min-width: 100% !important;
}
iframe .Caption,
iframe .HoverCard,
iframe .Footer {
  display: none !important;
}

nav.navbar {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}
nav.navbar.up {
  top: -40px;
}
nav.navbar .level {
  width: 300px;
  text-align: right;
}
nav.navbar .progress-container {
  width: 100%;
  height: 8px;
  background: var(--secondary-100);
  position: absolute;
  bottom: 0;
  left: 0;
}
nav.navbar .progress-container .progress-bar {
  height: 8px;
  background: var(--primary-300);
}

.mypic {
  position: fixed;
  z-index: -1;
  right: 20px;
  bottom: 20px;
  width: 1000px;
  word-break: break-word;
  text-align: right;
  line-height: 0.9;
  text-transform: uppercase;
}
.mypic .fixed {
  font-size: 200px;
  color: gray;
  opacity: 0.3;
  letter-spacing: -12px;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  body .navbar .navbar-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    padding: 0 16px;
  }
  body .navbar .level {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    border-top: 1px solid gray;
    width: 100%;
    padding: 16px;
  }
  body .parents main .wrap {
    max-width: 500px;
  }
  body .parents main .wrap .list {
    padding: 80px 16px;
  }
  .inner .group--wrap {
    padding-bottom: 108px;
  }
  .history--list {
    padding: 20px;
  }
  .hero {
    height: 100vh;
    overflow: hidden;
  }
  .hero .background h2 {
    width: max-content;
  }
}